<div class="get-characters w3-container">
    <h3>{{email}}'s characters:</h3>
    
  {{#each this.characters }}
  <section class="character">
    <div class="meta">
      {{name}}:<br>{{hp}} health<br> {{gold}} gold <br> {{attack}} attack <br>
      <button class="delete-character" charId="{{id}}" userID="{{id}}">Delete  {{name}}</button><br>
      <button class="start-battle" charId="{{id}}" userID="{{id}}">Battle with {{name}}</button>
    </div>
  </section>
  {{/each}}
</div>

<script src="/javascript/deleteCharacter.js"></script>
<script src="/javascript/goToBattlePage.js"></script>