<div class="get-characters w3-container">
    <h3>{{email}} characters:</h3>
    
  {{#each this.characters }}
  <section class="character">
    <div class="meta">
      {{name}} has {{hp}} health, {{gold}} gold and {{attack}} attack
      <button class="delete-character" charId="{{id}}">Delete  {{name}}</button>
      <button class="start-battle" charId="{{id}}">Battle with {{name}}</button>
    </div>
  </section>
  {{/each}}
</div>

<script src="/javascript/deleteCharacter.js"></script>
<script src="/javascript/goToBattlePage.js"></script>