{{!-- upgrade stats --}}
<div class="w3-card w3-lime w3-twothird" style="width:100%;">
    <form class="upgrade-form" user="{{character.id}}" name="{{character.name}}" health="{{character.hp}}"
        attack="{{character.attack}}" gold="{{character.gold}}">


        <div class="w3-bar w3-xxlarge  w3-border w3-round-xxlarge w3-blue-grey w3-center w3-margin-top"
            id="character-name">{{character.name}}</div>

        <div class="w3-container w3-center">
            <span
                class="w3-tag w3-xxlarge w3-margin-top w3-indigo w3-topbar w3-bottombar w3-leftbar w3-rightbar">Gold/Score:
                {{character.gold}}</span>

        </div>


        <div class="w3-container">
            <span class="w3-tag w3-xxlarge w3-border w3-xxlarge w3-blue-grey w3-margin status-bar">Health is:
                {{character.hp}}
                <button
                    class="w3-button w3-large w3-amber w3-topbar w3-bottombar w3-leftbar w3-rightbar display-button addHealth ">+10
                </button>
            </span>

            <span class="w3-tag w3-xxlarge w3-border w3-xxlarge w3-blue-grey w3-margin status-bar">Attack level:
                {{character.attack}}
                <button
                    class="w3-button w3-large w3-amber w3-topbar w3-bottombar w3-leftbar w3-rightbar display-button addAttack">+10
                </button>
            </span>


            {{!-- this is the functionality that was/ is in battle handlebars page
            functionality still works --}}
        
            <button class="w3-btn w3-border w3-round-xxlarge w3-red attack-button display-button" 
                data-charName="{{character.name}}" data-charId="{{character.id}}" data-attack="{{character.attack}}"
                data-health="{{character.hp}}" data-gold="{{character.gold}}">Attack</button>

            <button class="w3-btn w3-border w3-round-xxlarge w3-red return-button display-button" 
                style="display:none;" data-charName="{{character.name}}" data-charId="{{character.id}}"
                data-attack="{{character.attack}}" data-health="{{character.hp}}" data-gold="{{character.gold}}">Return
                to Character Page</button>

            <button class="w3-btn w3-border w3-round-xxlarge w3-red continue-button display-button" 
                style="display:none;" data-charName="{{character.name}}" data-charId="{{character.id}}"
                data-attack="{{character.attack}}" data-health="{{character.hp}}"
                data-gold="{{character.gold}}">Continue Fighting</button>
        </div>


</div>


</form>
</div>


<script src="/javascript/statUpgrade.js"></script>