{{!-- Current character stats --}}
<h2>Current Stats for {{character.name}}</h2>

{{!-- upgrade stats --}}

<form class="upgrade-form" user="{{character.id}}" name="{{character.name}}" health="{{character.hp}}" attack="{{character.attack}}"
    gold="{{character.gold}}">

    <p>Gold: </p>{{character.gold}}

    <p>Health: </p>{{character.hp}}
    <button class="addHealth">Add Health</button>

    <p>Attack: </p>{{character.attack}}
    <button class="addAttack">Add Attack</button>

</form>

<script src="/javascript/statUpgrade.js"></script>